body {
  font-family: 'Roboto Slab', serif;
  margin: 0;
  background-color: #202030;
}

header {
  padding: 15px 0px;
  background-color: #202030;
  font-size: 24px;
  color: #f0f2ff;
}

h1 {
  padding: 0 20px;
  font-family: 'Roboto Slab', serif;
  display: inline-block;
  color: #f0f2ff;
}

div {  
  background-color: #3d213e;
}

button {
  color: #ffffff;
  font-family: 'Varela Round', sans-serif;
  text-transform: uppercase;
  background: #7b7bac;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  }

#newTweet {
  max-width: 600px;
  padding: 5px;
}

.tweets {
  padding: 10px;
}

.tweets > div {
  border-radius: 5px;
  max-width: 600px;
  margin: 5px;
  padding: 10px 5px;
  background-color: #304050;
  color: #d0d2df;
}

.timestamp {
  margin: 1em;
  font-size: 10px;
  color: #90929f;
}

.p {
  margin: 1em 1em 1em 1em;
  margin-bottom: 1em; 
  padding: 0px 0px;
  position: fixed;
  page-break-inside: avoid;
}